<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

 <p>
    Splurty was built by <a target="_blank" href="http://github.com/FightingRaccoon">Grant</a> , who is a new web developer. 
  </p>
  <br />
  <p>
    Grant began his coding journey, when he joined a full-stack web development class bootcamp with the Univeristy of Arizona.
  </p>
  <p>
    If you too want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'grant.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Grant Schroeder</h2>
      <br />
      <p>
        Grant Schrooeder is a web developer. He has also worked in the hospitality & retail industry. Grant received an Associates degree in Business Management from <a target="_blank" href="https://www.mbu.edu">Maranatha Baptist University</a> in Watertown, WI. During this time, he worked at <a target=“_blank” href="https://www.shopsilica.com/index.html">Silica Appliances</a> as a Sales Representative. After graduation, Grant started working for <a target=“_blank” href="https://www.hertz.com/rentacar/reservation/">Hertz Rental Car</a> at the Salt Lake City Airport. He has recently moved on from Hertz and is working for <a target:”_blank” href="https://www.ashleyfurniture.com">Ashley Furniture</a> in Avondale, Arizona. 
      </p>
    </div>
  </div>